* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Helvetica Neue';
    font-size: .8rem;
}

img {
    width: 100%;
}

#app {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 30%;
    margin: 0 auto;
    box-shadow: 0 0 18px #ececec;
    border-radius: 10px;
    overflow: hidden;

    .card-about-container {
        padding: 2rem;
    }

    .card-about-container-inside-border-bottom {
        border-bottom: 1px solid #eaeaea;
        padding: 0rem 0 2rem 0;
    }

    .card-about-container-bottom {
        padding: 0 2rem 2rem 2rem;
    }

    .card-about-bottom {
        display: flex;
        justify-content: space-between;
    }
    
    .card-about-container-inside-border-bottom > .about-me,
    .card-about-bottom {
        margin: 1rem 0;
    }
    
    .card-top-photo {
        height: 400px;
        overflow: hidden;
    }
}



@media(max-width: 662px) {
    .container {
        width: 100%;
    }
}

@media(min-width: 615px) {
    .container {
        width: 70%;
    }
}


@media(min-width: 762px) {
    .container {
        width: 60%;
    }
}

@media(min-width: 992px) {
    .container {
        width: 45%;
    }
}


@media(min-width: 1100px) {
    .container {
        width: 35%;
    }
}

@media(min-width: 1400px) {
    .container {
        width: 28%;
    }
}